.promo {
    position: relative;
    min-height: 648px;
    background: url(../img/bg/main_bg.jpg) center center/cover no-repeat;
    &__wrapper {
        position: absolute;
        top: 206px;
        right: 277px;
        width: 390px;
        color: #FFFFFF;
    }
    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
    &__btns {
        margin-top: 135px;
        display: grid;
        grid-template: 38px / 136px 136px;
        column-gap: 13px;
    }
}