.consoles {
    min-height: 865px;
    background-color: $grey;
    padding-top: 63px;
    &__logo {
        margin: 0 auto;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__wrapper {
        margin-top: 43px;
        display: flex;
        justify-content: space-around;
    }
    &__card {
        width: 320px;
        min-height: 420px;
        background: #FFFFFF;
        border: 1px solid #8DD83D;
        border-radius: 4px;
        &-info {
            padding: 21px;
        }
    }
    &__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: #FFFFFF;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
    }
}