.card {
    position: relative;
    width: 320px;
    height: 420px;
    background: #FFFFFF;
    border: 1px solid #8DD83D;
    border-radius: 4px;
    transition: 0.7s;
    &__wrapper {
        margin-top: 43px;
        display: flex;
        justify-content: space-around;
    }
    &__info {
        padding: 21px;
    }
    &:hover {
        box-shadow: 3px 3px 20px #fff;
    }
    &__descr {
        margin-top: 13px;
        font-size: 24px;
    }
    &__text {
        font-size: 18px;
    }
    &__wrapper {
        position: relative;
        margin-top: 43px;
        display: flex;
        justify-content: space-around;
    }
    button {
        position: absolute;
        bottom: 27px;
    }
    &__img {
        img {
            width: 100%;
        }
    }
    &__games {
        &:hover {
            box-shadow: none;
            width: 350px;
            height: 460px;
            opacity: 0.8;
        }
    }
}

