.btn {
    background-color: #8DD83D;
    width: 278px;
    height: 60px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    border-radius: 5px;
    border-style: none;
    &__promo {
        width: 136px;
        height: 38px;
        &:nth-child(2) {
            background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
        }
    }
}