.arrows {
    &__down{
        height: 7px;
        width: 12px;
        overflow: hidden;
        margin-left: 7px;
        &:nth-child(3) {
            margin-left: 0;
        }
        span {
            display: block;
            height: 1px;
            width: 100%;
            background-color: $green;
            &:nth-child(1) {
                transform: translateX(4px) rotate(-45deg);
            }
            &:nth-child(2) {
                
                transform: translate(-4px, -1px) rotate(45deg);
            }
        }
    }
}  